@import "tailwindcss";

@theme {
  --color-danger: #d74a49;
  --color-light: #fffaf0;
  --color-dirty-white: #eaeaea;
  --color-semi-light: #8ba0a4;
  --color-background: #183e4b;
}

:root {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  line-height: 1.5;  

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-gray-950);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vignette-overlay {
  position: relative;
}

.vignette-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    transparent 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  pointer-events: none; /* Let clicks pass through to the elements below */
}
